<div class="container">
  <% @questions.each do |question|%>
  <div>
    <h4><a href="/questions/<%= question.id%>"><%= question.title %></a></h4>
    <p>Created by: <%= question.user %>, On: <%= question.created_at %></p>
  </div>
    <% end %>
</div>
