.error-message {
  color: red;
}

.container {
  max-width: 50%;
  margin: 20px auto;
}

.questions-container {
   padding: 5px;
  margin: 5px;
  border: 1px solid black;
  position: relative;
  background: linear-gradient(#7E6D6D, white);
}

.individual-question {
  padding: 5px;
  display: inline-block;
  margin-left: 6%;
}

.answers-container {
  padding: 5px;
  border: 1px dotted blue;
}

.individual-answer {
  padding: 5px;
  margin: 5px;
  border: 1px solid blue;
}

.comments-container {
  padding: 5px;
  margin: 5px;
  border: 1px solid red;
  position: relative;

}

.individual-comment {
  display: inline-block;

  margin-left: 6%;
  margin-right: 0px;

}

.vote-buttons a {
  text-decoration: none;
}

.vote-buttons {
  position: absolute;
  left: 0px;
  display: inline;
  width: 5%;
  padding-left: 10px;
  margin: auto;
  text-align: center;
}


header {
  text-align: center;
  font-size: 40px;
}

nav {
  color: red;
  text-align: center;
  background-color: black;
  box-shadow: -10px 10px 5px grey;
}

nav a:visited {
  color: red;
}
