.error-message {
  color: red;
}

html {
  /*font-size: .67em;*/
  background-color: #A5C2EA;
}

.container {
  max-width: 50%;
  margin: 20px auto;
}

.questions-container {

  margin: 10px;
  /*border: 1px solid black;*/
  position: relative;
  /*background: linear-gradient(#1476FF, white);*/
  border-radius: 10px;
}

.individual-question {

  width: 70%
  margin-left: 6%;
  padding-left: 60px;
}

.answers-container {
  padding: 5px;
  /*border: 1px dotted blue;*/
  background: linear-gradient(#1476FF, #A5C2EA);
  border-radius: 50px;
  position: relative;
}

.individual-answer {
  margin: 5px;
  margin-left: 6%;

  /*border: 1px solid blue;*/
}

.comments-container {
  padding: 5px;
  margin: 5px;
  min-height: 100px;
  /*border: 1px solid red;*/
  position: relative;
  /*background: linear-gradient(gray, white);*/
  border-radius: 10px;

 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */




}

.individual-comment {
  display: inline-block;
  margin-left: 6%;
  margin-right: 0px;

}

.vote-buttons a {
  text-decoration: none;
}

.vote-buttons {
  position: absolute;
  left: 0px;
  display: inline;
  width: 5%;
  padding-left: 10px;
  margin: auto;
  padding-top: 5px;
  text-align: center;
}


.header {
  text-align: center;
  font-size: 80px;
  font-family: 'Shadows Into Light', cursive, bold;
  display: inline;
  text-decoration: none;
  margin-left: 28%;
}

.header a {
  text-decoration: none;

}

.header a:visited {
  color: black;
}

#logo {

  vertical-align: middle;
  width: 150px;
  height: 150px;
}

#title {

}

nav {
  color: white;
  text-align: right;
  background-color: black;
  box-shadow: -10px 10px 5px gray;
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
  line-height: 90%;
  height: 50px;
  padding-top: 10px;
  padding-right: 20px;
}

nav a:visited {
  color: white;
}

nav span {
  margin-top: 55%;
}

h4 {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  margin: 0;
}

input {
  background: transparent;
  border: none;
}

.aligncenter {
  width:900px;
  height:3px;
  border-top:2px solid black;
  border-bottom:2px solid black;
  font-size:0;
  margin-left: 30px;
  margin-top: 10px;
  display: block;
}

.buttons {
  font-family: 'Orbitron', sans-serif;
}

footer {
  position: relative;
  bottom: 0px;
}

form {

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: white;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: white;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: white;
}

.user-form input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #1476FF;
}

.user-form input[type=submit]:hover {
    background-color: #1476FF;
}

.registration-form {
    border-radius: 5px;
    background-color: ##A5C2EA;
    padding: 40px;
    width: 30%;
    margin-left: 30%;
}
