<div class="vote-buttons">
  <a href="#">🖕</a><br>
  <%= votable_thing.score %><br>
  <a href="#">💩</a>
</div>

<!-- Make sure you pass in a votable object as votable_thing when calling this partial. -->
