<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <!-- Header for User management -->
  <header>
    <% if session[:user_id] %>
    <a href="/logout">Log out</a>
    <%else%>
    <a href="/users/new">Register</a>
    <a href="/login">Log in</a>
    <% end %>
  </header>
  <%= yield %>
</body>
</html>
